/* projects.css */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  transition: all 0.5s ease-in-out;
}

header {
  background-color: #2980b9;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-right: 20px;
}

.logo img {
  max-width: 100px;
  border-radius: 50%;
}

.nav {
  background-color: #2c3e50;
  text-align: center;
  padding: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  padding: 10px 15px;
  display: inline-block;
  transition: background 0.3s, color 0.3s ease;
}

.nav a:hover {
  background: #34495e;
  border-radius: 5px;
}

#projects {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.project img:hover {
  transform: scale(1.05);
}

.project img:first-child {
  display: block;
  margin: 0 auto 15px auto;
}

.project img:not(:first-child) {
  display: block;
  max-width: 80%;
  margin: 0 auto 15px auto;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2980b9;
}

.project p {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #0056b3;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}
