/* Global Styles */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #333;
  color: #f4f4f4;
}

body.dark-mode nav {
  background-color: #444;
  color: #f4f4f4;
}

body.dark-mode footer {
  background-color: #222;
  color: #f4f4f4;
}

/* Header */
header {
  font-size: 100px;
  background-color: #bbe8e7;
  color: #b963d3;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

/* Navigation */
nav {
  background-color: #75dede;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-size: 1.1rem;
  padding: 8px 15px;
  display: inline-block;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #555;
  transform: scale(1.1);
}

/* Main Content */
main {
  padding: 20px;
  background-color: #f4f4f9;
}

body.dark-mode main {
  background-color: #121212;
}

section {
  padding: 20px;
}

section h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

section p {
  color: #555;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 100%;
  margin-top: auto;
  transition: background-color 0.3s, color 0.3s;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

body.dark-mode footer p {
  color: #f4f4f4;
}

/* Dark Mode Toggle */
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#dark-mode-toggle {
  display: none;
}

#dark-mode-toggle + label {
  cursor: pointer;
  padding: 20px;
  background-color: #050505;
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  user-select: none;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

#dark-mode-toggle:checked + label {
  background-color: #effafa;
  transform: scale(1.1);
}

/* Logo */
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: auto;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    font-size: 80px;
  }

  h1 {
    font-size: 40px;
  }

  nav a {
    margin: 10px 5px;
    font-size: 1rem;
  }

  footer p {
    font-size: 1rem;
  }

  .toggle-container {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 60px;
  }

  h1 {
    font-size: 30px;
  }

  nav a {
    margin: 10px 3px;
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}
