/* Basic Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2 {
  margin: 0;
  padding: 1rem;
}

p {
  margin: 0.5rem 0;
  line-height: 1.5;
}

img {
  width: 200px;
  max-width: 100%;
  height: 200px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
header {
  background-color: #bbe8e7;
  color: #020703;
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: #e0e0e0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

/* Main Content Styles */
main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #7ee7e7;
  padding: 1rem;
}

footer p {
  margin: 0;
}

#projects {
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.project p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.project a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #0056b3;
}
